<h1>Persons</h1>

<%= link_to 'Upload data file', new_person_path, class: "btn btn-primary" %>

<%= form_tag(persons_path, method: "get", :class => "searchForm") do %>
  <%= text_field_tag(:searchfor, request.params[:searchfor], :placeholder => "Search here") %>
  <%= submit_tag("Search", :class => "btn btn-primary") %>
  <%= link_to 'Clear results', persons_path, class: "btn btn-primary my-3" %>
<% end %>

<table class="table">
  <tr>
    <th scope="col">
      <%= link_to 'First Name', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "fn", :oad => @orderingObj[:fn])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Last Name', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "ln", :oad => @orderingObj[:ln])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Species', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "sp", :oad => @orderingObj[:sp])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Gender', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "gd", :oad => @orderingObj[:gd])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Weapon', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "wp", :oad => @orderingObj[:wp])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Vehicle', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "vh", :oad => @orderingObj[:vh])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Affiliations', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "afl", :oad => @orderingObj[:afl])) 
      %>
    </th>
    <th scope="col">
      <%= link_to 'Locations', 
          persons_path(request.params.except(:action, :controller, :commit).merge(:ob => "loc", :oad => @orderingObj[:loc])) 
      %>
    </th>
  </tr>
 
  <% @persons.each_with_index do |person, index| %>
    <tr>
      <td><%= person.firstname %></td>
      <td><%= person.lastname %></td>
      <td><%= person.species %></td>
      <td><%= person.gender %></td>
      <td><%= person.weapon %></td>
      <td><%= person.vehicle %></td>
      <td><% person.affiliations.each do |item| %>
          <p><%= item.title %></p>
        <% end %>
      </td>
      <td>
        <% person.locations.each do |item| %>
          <p><%= item.name %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate @posts %></p>
